###################
# General config
# V1.0
###################

API_HOST=http://localhost:8080
API_PORT=8080

###################
# Logger config
# V1.0
###################

LOGS_ENABLED=true
LOGS_LEVEL=debug
LOGS_CONSOLE_TRANSPORT=true
LOGS_FILE_PATH=./logs
LOGS_FILE_TRANSPORT=true

###################
# Database config
# V1.0
###################

DATABASE_URL=postgresql://postgres:{}@localhost:5432/econotrip
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=econotrip
DATABASE_LOGGING=false
DATABASE_SSL=false

###################
# Authentication config
# V1.0
###################

AUTH_ACCESS_TOKEN_SECERT=
AUTH_ACCESS_TOKEN_EXP=2h
AUTH_REFRESH_TOKEN_SECERT=
AUTH_REFRESH_TOKEN_EXP=24h

###################
# Admin config
# V1.0
###################

ADMIN_EMAIL=admin@collabyt.com
ADMIN_PASSWORD=

###################
# Amadeus config
# V1.0
###################

AMADEUS_API_URL=https://test.api.amadeus.com
AMADEUS_API_KEY=
AMADEUS_API_SECRET=

###################
# OpenAI config
# V1.0
###################

OPENAI_API_KEY=

###################
# Storage config
# V1.0
###################

STORAGE_FLIGHTS_DATA=data/flights