###################
# General config
# V1.0
###################

API_HOST=http://localhost:8080
API_PORT=8080

###################
# Logger config
# V1.0
###################

LOGS_ENABLED=true
LOGS_LEVEL=debug
LOGS_CONSOLE_TRANSPORT=true
LOGS_FILE_PATH=./logs
LOGS_FILE_TRANSPORT=true

###################
# Database config
# V1.0
###################

DATABASE_URL=postgresql://postgres:{}@localhost:5432/econotrip
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=econotrip
DATABASE_LOGGING=false
DATABASE_SSL=false

###################
# Authentication config
# V1.0
###################

AUTH_ACCESS_TOKEN_SECERT=
AUTH_ACCESS_TOKEN_EXP=2h
AUTH_REFRESH_TOKEN_SECERT=
AUTH_REFRESH_TOKEN_EXP=24h

###################
# Admin config
# V1.0
###################

ADMIN_EMAIL=admin@collabyt.com
ADMIN_PASSWORD=

###################
# Amadeus config
# V1.0
###################

AMADEUS_API_URL=https://test.api.amadeus.com
AMADEUS_API_KEY=
AMADEUS_API_SECRET=

###################
# OpenAI config
# V1.0
###################

OPENAI_API_KEY=

###################
# Storage config
# V1.0
###################

STORAGE_OVERVIEW_FLIGHTS_BASE_PATH=data/flights

###################
# SerpAPI config
# V1.0
###################

SERPAPI_KEY=

###################
# SeatsAero config
# V1.0
###################

SEATSAERO_URL=https://seats.aero
SEATSAERO_API_KEY=

###################
# GeoNames config
# V1.0
###################

GEONAMES_URL=https://secure.geonames.org
GEONAMES_USERNAME=leossoaress

###################
# TripAdvisor config
# V1.0
###################

TRIPADVISOR_API_KEY=
TRIPADVISOR_BASE_URL=https://api.content.tripadvisor.com

###################
# Google Places config
# V1.0
###################

GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_BASE_URL=https://maps.googleapis.com/maps/api/place

###################
# Radar Routine config
# V1.0
###################

RADAR_ROUTINE_URL=http://localhost:8080/api/v1/

###################
# Flight Screaper Sky API
# V1.0
###################

FLIGHT_SCRAPER_SKY_URL=https://flights-sky.p.rapidapi.com
FLIGHT_SCRAPER_SKY_API_KEY=

###################
# Email Config
# V1.0
###################

EMAIL_HOST=
EMAIL_PORT=
EMAIL_TLS=
EMAIL_NAME=
EMAIL_FROM=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_AUTHENTICATION=

###################
# Links Config
# V1.0
###################

LINK_FORGOT_PASSWORD=http://localhost:8080/redefinir-senha

###################
# Tripadvisor Config
# V1.0
###################

TRIPADVIDOR_API_KEY=

###################
# Firebase Config
# V1.0
###################

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

###################
# GeoNames config
# V1.0
###################

GEONAMES_URL=https://secure.geonames.org
GEONAMES_USERNAME=leossoaress

###################
# Google Places config
# V1.0
###################

GOOGLE_PLACES_API_KEY=
GOOGLE_PLACES_BASE_URL=https://maps.googleapis.com/maps/api/place

###################
# VAPID Web Push
# V1.0
###################

VAPID_PUBLIC_KEY="BKUVUZ43uF-dI4QpeyTyk8vdB3ZQ_pTJdh8QbjwkfaJmiLqHr5CIJATo1jumbVtNW091IZsEEpf-RdfN9Qoa5E0"
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto: <contato.collaby.t@gmail.com>

###################
# Twilio Web Push
# V1.0
###################

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SMS_FROM=
TWILIO_WHATSAPP_FROM=

###################
# Feedback Config
# V1.0
###################

FEEDBACK_EMAIL=feedback@econotrip.com
DEV_TEAM_EMAIL=dev@econotrip.com
ADMIN_URL=http://localhost:8080/admin
